<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>videoChatApp</title>
    <!-- Autoplay is allowed. -->
    <!-- <iframe src="https://cross-origin.com/myvideo.html" allow="autoplay"> -->
    <link rel="stylesheet" href="styles.css" />
    <script
      defer
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js" defer></script>
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
  </head>

  <body>
    <div class="main">
      <div class="main__left">
        <div class="videos__group">
          <div id="video-grid"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="script.js" defer></script>
</html>
